In [1]:
x = 5

In [4]:
print (x)

5

In [6]:
d = {'a':1, 'b':2, 'c':3}
for key, value in d.items():
    print(f"{key}: {value}")

a: 1
b: 2
c: 3

Generator
the three-dot operator

In [15]:
g = (one_number * one_number   
     ...: for one_number in range(10))

In [9]:
list(g)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
(x, y) = (1,2)
print(f"x = {x} and y = {y}")

x = 1 and y = 2

In [21]:
x1 = 2
type(x)

int

In [23]:
"george"

'george'

In [2]:
2 * 3 + \
5

11

In [4]:
def five(x):
    x = 5
    return x

five(5)

5